{% extends 'base.html' %}
{% block content %}
<h2>Controle de estoque de jogos</h2>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Titulo</th>
            <th>Ano</th>
            <th>Categoria</th>
            <th>Plataforma</th>
            <th>Preço</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <!-- Corpo da tabela -->
     <tbody>
        {%for game in games%}
        <tr>
            <td>{{game.titulo}}</td>
            <td>{{game.ano}}</td>
            <td>{{game.categoria}}</td>
            <td>{{game.plataforma}}</td>
            <td>{{game.preco}}</td>
            <td>{{game.quantidade}}</td>
        </tr>
        {% endfor %}
     </tbody>
</table>
{% endblock content %}