/* Configurações universais */
* {
  margin: 0;
  padding: 0;
}
/* Estilos gerais */
body {
  font-family: "Segoe UI";
  color:#adadad;
  background-color: #dbdbdb;
  line-height: 1.6;
}
header {
  background-color: #000000;
  color: white;
  padding: 0.5rem;
  text-align: center;
}
footer {
  background-color: #000000;
  color: white;
  margin-top: 2rem;
  padding: 1rem 0.75rem;
  text-align: center;
}
main {
  width: 1300px;
  min-height: 100vh;
  margin: 1.5rem auto;
  padding: 1rem 3rem;
  background-color: #dbdbdb;
  border-radius: 10px;
  box-shadow: 0 8px 24px (0, 0, 0, 0.08);
}
img {
  border-radius: 8px;
}
h1,
h2,
h3,
p {
  padding: 10px;
}
