{% extends 'base.html' %}
{% block content %}
<main>
    <h1>Música</h1>
    <hr>
    <h2>Favoritas dos usuários:</h2>

    {% for chave, valor in musica.items() %}
    <details>
        <summary>{{ chave }}</summary>
        <p>{{ valor }}</p>
    </details>
    {% endfor %}
    <h2>Adicione sua música favorita!!</h2>
    <ol>
    {% for c in listaForm %}
        <li>{{ c }}</li>
    {% endfor %}
    </ol>
    <form action="{{url_for('formulario')}}", method="POST">
        <label>Nome da Música:</label>
        <input type="text" name="novaMusica">
        <input type="submit" value="Cadastrar">

    </form>
</main>
{% endblock content %}